@import '../../../../styles/breakpoints';

.fieldGroup {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .field {
    border-radius: 20px;
    border: 3px solid ghostwhite;
    height: 400px;
    background-color: #6abd67;
    display: grid;
    margin-top: 20px;
    position: relative;
    width: 90%;
    
    .smallArea {
      border: 4px solid ghostwhite;
      border-bottom: 0;
      bottom: -43px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: 80px;
      width: 30%;
    }

    .bigArea {
      border: 4px solid ghostwhite;
      border-bottom: 0;
      bottom: -64px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: 128px;
      width: 60%;
    }

    .outArea {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 71px;
      bottom: 89px;
      border-radius: 150px 150px 0 0;
      border: 4px solid ghostwhite;
      width: 25%;
    }
    
    .middle {
      position: absolute;
      left: 50%;
      top: 32px;
      transform: translate(-50%, -50%);
      height: 70px;
      bottom: 89px;
      width: 25%;
      border-radius: 0 0 150px 150px;
      border: 4px solid ghostwhite;
    }


    .player {
      margin: auto auto;
      z-index: 1;
    }

    .player1 {
      grid-area: player1;
    }

    .player2 {
      grid-area: player2;
    }

    .player3 {
      grid-area: player3;
    }

    .player4 {
      grid-area: player4;
    }

    .player5 {
      grid-area: player5;
    }

    .player6 {
      grid-area: player6;
    }

    .player7 {
      grid-area: player7;
    }

    .player8 {
      grid-area: player8;
    }

    .player9 {
      grid-area: player9;
    }

    .player10 {
      grid-area: player10;
    }

    .player11 {
      grid-area: player11;
    }
  }

  .check {
    color: #F7FAFC;
  }

  .formations {
    margin: 10px auto;
    text-align: center;
  }
  
/*
  4 vs 4 Formations
*/
  .squareFour {
    grid-template-areas:
      '. player4 .'
      'player2 . player3'
      '. player1 .';
  }

  .triangleFour {
    grid-template-areas:
      '. player5 .'
      'player2 player3 player4'
      '. player1 .';
  }

  .forwardFour {
    grid-template-areas:
      'player2 player3 player4'
      '. . .'
      '. player1 .';
  }

  /*
  5 vs 5 Formations
*/
  .squareFive {
    grid-template-areas:
      'player4 . player5'
      'player2 . player3'
      '. player1 .';
  }

  .triangleFive {
    grid-template-areas:
      '. player5 .'
      'player2 player3 player4'
      '. player1 .';

    .player2,
    .player4 {
      margin-top: 10px;
    }

    .player3 {
      margin-bottom: 10px;
    }
  }

  .forwardFive {
    grid-template-areas:
      'player3 player4 player5'
      '. player2 .'
      '. player1 .';

    .player2,
    .player4 {
      margin-bottom: 10px;
    }
  }

  /*
  6 vs 6 Formations
*/

  .squareSix {
    grid-template-areas:
      'player5 . player6'
      '. player4 .'
      'player2 . player3'
      '. player1 .';
  }

  .triangleSix {
    grid-template-areas:
      '. player6 .'
      'player4 . player5'
      'player2 . player3'
      '. player1 .';
  }

  .forwardSix {
    grid-template-areas:
      '. player6 .'
      '. player5 .'
      'player2 player3 player4'
      '. player1 .';

    .player3 {
      margin-bottom: 5px;
    }
  }

  /*
  7 vs 7 Formations
*/

  .squareSeven {
    grid-template-areas:
      '. player7 .'
      'player5 . player6'
      'player2 player3 player4'
      '. player1 .';

    .player3 {
      margin-bottom: 5px;
    }
  }

  .triangleSeven {
    grid-template-areas:
      'player6 . player7'
      '. player5 .'
      'player2 player3 player4'
      '. player1 .';

    .player3 {
      margin-bottom: 5px;
    }
  }

  .forwardSeven {
    grid-template-areas:
      '. . .'
      'player5 player6 player7'
      'player2 player3 player4'
      '. player1 .';

    .player3,
    .player6 {
      margin-bottom: 5px;
    }
  }

  /*
  8 vs 8 Formations
*/

  .squareEight {
    grid-template-areas:
      'player7 . player8'
      'player5 . player6'
      'player2 player3 player4'
      '. player1 .';

    .player3 {
      margin-bottom: 5px;
    }
  }

  .triangleEight {
    grid-template-areas:
      'player6 player7 player8'
      '. player5 .'
      'player2 player3 player4'
      '. player1 .';

    .player3 {
      margin-bottom: 5px;
    }

    .player7 {
      margin-top: 5px;
    }
  }

  .forwardEight {
    grid-template-areas:
      '. player8 .'
      'player5 player6 player7'
      'player2 player3 player4'
      '. player1 .';

    .player3,
    .player6 {
      margin-bottom: 5px;
    }
  }

  /*
  9 vs 9 Formations
*/

  .squareNine {
    grid-template-areas:
      'player8 . player9'
      'player5 player6 player7'
      'player2 player3 player4'
      '. player1 .';

    .player3,
    .player6 {
      margin-bottom: 5px;
    }
  }

  .triangleNine {
    grid-template-areas:
      'player7 player8 player9'
      'player5 . player6'
      'player2 player3 player4'
      '. player1 . ';

    .player3,
    .player8 {
      margin-bottom: 5px;
    }
  }

  .forwardNine {
    grid-template-areas:
      'player7 player8 player9'
      'player4 player5 player6'
      'player2 . player3'
      '. player1 .';

    .player5,
    .player8 {
      margin-bottom: 5px;
    }
  }

  /*
  10 vs 10 Formations
*/

  .squareTen {
    grid-template-areas:
      '. player9 player10 .'
      'player5 player6 player7 player8'
      'player2 player3 player3 player4'
      '. player1 player1  .';

    .player3,
    .player6,
    .player7 {
      margin-bottom: 5px;
    }
  }

  .triangleTen {
    grid-template-areas:
      ' . player10 player10 .'
      'player6 player7 player8 player9'
      'player2 player3 player4 player5'
      '. player1 player1 .';

    .player3,
    .player4,
    .player7,
    .player8 {
      margin-bottom: 5px;
    }
  }

  .forwardTen {
    grid-template-areas:
      ' . player9 player10 .'
      'player6 player7 player7 player8'
      'player2 player3 player4 player5'
      '. player1 player1 . ';

    .player3,
    .player4 {
      margin-bottom: 5px;
    }
  }

  /*
  11 vs 11 Formations
*/

  .squareEleven {
    grid-template-areas:
      'player9 player10 player10 player11'
      'player6 player7 player7 player8'
      'player2 player3 player4 player5'
      '. player1 player1 .';

    .player3,
    .player4,
    .player7 {
      margin-bottom: 5px;
    }
  }

  .triangleEleven {
    grid-template-areas:
      ' . player10 player11 .'
      'player6 player7 player8 player9'
      'player2 player3 player4 player5'
      '. player1 player1 .';

    .player3,
    .player4,
    .player7,
    .player8 {
      margin-bottom: 5px;
    }
  }

  .forwardEleven {
    grid-template-areas:
      ' player8 player9 player10 player11'
      '. player6 player7 .'
      'player2 player3 player4 player5'
      '. player1 player1 . ';

    .player3,
    .player4 {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: $medium-device) {
  .fieldGroup {
    width: 90%;

    .field {
      .smallArea {
        bottom: -32px;
        height: 60px;
      }

      .bigArea {
        bottom: -46px;
        height: 92px;
        width: 55%;
      }

      .outArea {
        bottom: 65px;
        height: 48px;
        width: 82px;
      }

      .middle {
        top: 22px;
        height: 48px;
        width: 82px;
      }
    }
  }
}

@media (max-width: $small-device) {
  .fieldGroup {
    .field {
      .smallArea {
        bottom: -26px;
        height: 45px;
      }

      .bigArea {
        bottom: -38px;
        height: 75px;
        width: 55%;
      }

      .outArea {
        bottom: 51px;
        height: 40px;
        width: 64px;
      }

      .middle {
        top: 17px;
        height: 40px;
        width: 64px;
      }
    }
  }
}
