@import '../../../../styles/breakpoints';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;

  .shield {
    display: flex;
    align-items: center;
  }
}

.isAway {
  flex-direction: row-reverse;
}

@media (max-width: $small-device) {
  .header {
    justify-content: flex-start;
    width: 90%;
  }
}
