@import '../../../../styles/breakpoints';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;

  .shield {
    display: flex;
    align-items: center;

    .teamDetails {
      display: flex;
    }
  }
}

.isAway {
  flex-direction: row-reverse;
}

@media (max-width: $extra-large-device) {
  .isAway {
    flex-direction: row;
  }
}

@media (max-width: $small-device) {
  .header {
    justify-content: flex-start;
    width: 90%;
  }
}

@media (max-width: $extra-small-device) {
  .header {
    .shield {
      flex-direction: column;
      // .teamDetails {
        
      // }
    }
  }
}
