@import '../../../styles/breakpoints';

.avatarContainer {
  position: relative;

  .avatar {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 3px solid white;
    cursor: pointer;
  }

  .edit {
    position: absolute;
    color: black;
    font-size: 25px;
    top: 85px;
    left: 115px;
  }
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatarList {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border: 3px solid white;
      cursor: pointer;
      margin: 5px;
    }
  }
}

@media (max-width: $extra-small-device) {
  .avatars {
    justify-content: center;
  }
}
