@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.flags {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 15px;
  height: 200px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.flag {
  cursor: pointer;
}

.container {
  position: relative;

  .edit {
    position: absolute;
    color: $dark;
    top: 5px;
  }
}
