@import '../../../styles/breakpoints';

.rating {
  display: flex;
  justify-content: space-around;
  width: 70%;
  
  .score {
    display: flex;
    flex-direction: column;
    width: 50%;
    
    .rate {
      display: flex;
      justify-content: space-around;
      font-size: 35px;
      width: 100%;
    }
  }
}

@media (max-width: $small-device) {
  .rating {
    .divider {
      height: 120px;
    }
    .score {
      .rate {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $extra-small-device) {
  .rating {
    .divider {
      height: 130px;
    }
  }
}
