@import '../../../styles/breakpoints';

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fields {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }

  .leaveButton {
    margin-top: 30px;
  }
}


@media (max-width: $large-device) {
  .fields {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}
