@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

.form {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $medium-device-extra) {
  .form {
    width: $full;
  }
}

@media (max-width: $medium-small-device) {
  .form {
    flex-direction: column;
    align-items: center;
  }
}
