@import '../../../../styles/breakpoints';

.team {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  text-align: center;
  font-weight: bold;
  justify-content: space-between;
  width: 450px;
  
  .shieldTeam {
    display: flex;
    justify-content: center;
    
    .shield, 
    .selectedShield {
      cursor: pointer;
    }

    .shields {
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      gap: 15px;
      height: 200px;
      flex-wrap: wrap;
      overflow-y: scroll;
    }
  }

  .nameInput {
    width: 50%;
  }
}

@media (max-width: $medium-device-extra) {
  .team {
    width: 50%;

    .title {
      font-size: xx-large;
    }

    .shieldTeam {
      .selectedShield {
        width: 150px;
        height: 150px;
      }
    }

    .nameInput {
      width: 90%;
    }
  }
}

@media (max-width: $medium-small-device) {
  .team {
    width: 90%;
  }
}
