@import '../../styles/breakpoints';

.signUp {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 50%;

  .logo {
    min-width: 325px;
    min-height: 219px;
    margin-bottom: 10px;
  }
  
  .loginLink {
    margin-top: 10px;
    font-size: 20px;
    color: white;
  }
}

@media (max-width: $medium-device) {
  .signUp {
    width: 90%;

    .logo {
      min-width: 277px;
      min-height: 210px;
    }

    .loginLink {
      font-size: 17px;
    }
  }
}
