@import '../../styles/breakpoints';
@import '../../styles/colors';

.loginLink {
  margin-top: 10px;
  font-size: 20px;
  color: $white !important;
}


@media (max-width: $medium-device) {
  .loginLink {
    font-size: 17px;
  }
}
