@import '../../styles/colors';

.navbarSpacing {
  height: 80px;
}

.container {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.avatar,
.avatarMenu {
  box-shadow: $dark-shadow 0px 10px 20px, $dark-shadow 0px 6px 6px;
  cursor: pointer;
}

.avatarMenu {
  margin-top: 20px;
}

.headerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  padding-top: 16px;
}

.columnMenu {
  display: flex;
  flex-direction: column;
  
  .option {
    margin: 5px 0;
  }
}
