@import '../../../../styles/colors';

.ratio {
  display: flex;
  justify-content: center;

  .star {
    height: 24px;
    margin-right: 5px;
    stroke: $white;
    width: 24px;
  }

  .filled {
    fill: $gold;
  }

  .notFilled {
    fill: $white;
  }
}
