.card {
  background-color: #D9D9D9;
  min-height: 400px;
  color: #333;
  border-radius: 20px;
  
  .cardHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .overall {
      margin-top: 20px;
      text-align: center;
      align-items: center;
      justify-content: center; 
    }
  }

  .cardBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.title {
  font-size: 50px;
  letter-spacing: -5px;
  cursor: pointer;
}

.divider {
  margin: 5px;
}
