@import '../../styles/breakpoints';
@import '../../styles/colors';

.statsSkeleton {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;

  .label,
  .value {
    background-color: $skeleton;
    margin: 10px;
    border-radius: 5px;
  }
  
  .label {
    height: 25px;
    width: 30%;
  }
  
  .value {
    height: 20px;
    width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: $medium-small-device) {
  .statsSkeleton {
    width: 85%;
  }
}

