@import '../../styles/colors';
@import '../../styles/breakpoints';

.stats {
  .stat {
    margin-bottom: 10px;
    
    .title {
      font-size: 30px;
      color: $pale;
    }
  }
}

@media (max-width: $medium-large-device) {
  .stats {
    margin: 15px unset;

    .stat {
      width: 80%;
    }
  }
}
