@import '../../../../styles/breakpoints';
@import '../../../../styles/sizes';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
  .formControl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: $half;
    
    .titleInput {
      margin-bottom: 8px;
      text-align: justify;
      font-size: 24px;
    }
    
    .iconInput {
      margin: 1%;
    }
    
    .input {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $medium-device-extra) {
  .form {
    .formControl {
      width: $content;
    }
  }
}
