@import '../../styles/breakpoints';
@import '../../styles/colors';

.signUpLink {
  margin-top: 10px;
  font-size: 20px;
  color: $white !important;
}

@media (max-width: $medium-device) {
  .signUpLink {
    font-size: 17px;
  }
}
