@import '../../styles/colors';
@import '../../styles/breakpoints';

.container {
  align-items: center;
  display: flex;
  color: $white;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;

  .logoText {
    margin: 30px auto;
    margin-top: -50px;
    max-width: 400px;
    min-width: 250px;
    width: 50%;
  }

  .header {
    font-size: 80px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    
    .green {
      color: $brand;
    }
  }
  
  .subtitle {
    font-size: 30px;
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
    max-width: 750px;
    width: 80%;
  }

  .start {
    margin: 20px auto;
    font-size: 30px;
    height: 50px;
    width: 200px;
  }
}

@media (max-width: $medium-large-device) {
  .container {
    .header {
      font-size: 60px;
      line-height: 18px;
    }
  }
}

@media (max-width: $medium-device) {
  .container {
    .header {
      line-height: 45px;
    }

    .subtitle {
      font-size: 20px;
    }

    .start {
      font-size: 20px;
    }
  }
}

// @media (max-width: $small-device) {
//   .logoText {
//     margin: 10px auto;
//     margin-top: -50px;
//   }

//   .container {
//     padding: 10px;
//   }
// }
