.section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.playerCard {
  height: 500px;
  width: 400px;
}

.playerStats {
  height: 500px;
  width: 400px;
}

.save {
  margin: 40px auto;
  width: 20%;
}
