.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.playerCard {
  height: 500px;
  width: 400px;
}

.playerStats {
  height: 500px;
  width: 400px;
}
