@import '../../styles/breakpoints';
@import '../../styles/sizes';

.actions {
  display: flex;
  justify-content: space-between;
  width: 325px;
  padding-bottom: 2rem;
  
  .btnOptionMenu {
    width: $full;
  }
}

@media (max-width: $medium-device) {
  .actions {
    width: $content;
  }
}
