@import '../../styles/breakpoints';
@import '../../styles/colors';
@import '../../styles/sizes';

.cardSkeleton {
  width: 400px;
  height: 500px;
  background-color: $pale;
  border-radius: 20px;

  .header {
    display: flex;
    width: $full;
    justify-content: space-evenly;
    margin-top: 40px;

    .left {
      width: 95px;
      height: 150px;
      background: $skeleton;
      border-radius: 8px;
    }

    .right {
      width: 130px;
      height: 130px;
      border-radius: $half;
      background: $skeleton;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
      width: 70%;
      height: 60px;
      background: $skeleton;
      margin-top: 40px;
      border-radius: 8px;
    }
    
    .bottom {
      display: flex;
      width: 70%;
      align-items: center;
      justify-content: space-between;
      
      .barr {
        width: 48%;
        height: 180px;
        border-radius: 8px;
        background: $skeleton;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: $medium-small-device) {
  .cardSkeleton {
    width: 85%;
  }
}
  

@media (max-width: $small-device) {
  .cardSkeleton {
    height: 440px;

    .body {
      .bottom {
        .barr {
          height: 100px;
        }
      }
    }
  }
}


@media (max-width: $extra-small-device) {
  .cardSkeleton {
    height: 580px;
    
    .header {
      align-items: center;
      flex-direction: column;

      .left {
        margin-bottom: 10px;
      }
    }
  }
}
