@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';
@import '../../../../styles/sizes';

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  width: $half;
  
  .player {
    margin: 5px;
  }
}

.playerResult {
  margin: 5px;
  border: 2px solid $white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  width: $half;
  cursor: pointer;
  padding: 5px;
  
  &:hover {
    color: $dark;
    background-color: $white;
  }
}

@media (max-width: $medium-device-extra) {
  .players,
  .playerResult {
    width: $content;
  }

  .playerNameInput {
    width: $content !important;
  }
}

@media (max-width: $extra-small-device) {
  .completePlayers {
    width: $content;
  }
}

