.steps {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  
  .actions {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
  }
  
  .nextBtn {
    width: 150px;
    border-radius: 12px
  }
  
  .bntBack {
    color: black;
  }
}
