@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.steps {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  
  .actions {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  
  .nextBtn {
    width: 150px;
    border-radius: 12px
  }
}
