@import '../../styles/colors';

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  .tag {
    color: #333 !important;
  }

  .tag {
    margin-top: 10px;
  }

  .score {
    margin-top: 5px;
    font-weight: bold;
  }

  .winner {
    background-color: $brand;
    color: white;
  }
  
  .loser {
    background-color: $loser;
    color: white;
  }

  .logoShadow {
    padding: 5px;
    filter: drop-shadow( 2px 2px 3px rgba(245,245,245, 1));
  }
}
