@import '../../styles/colors';

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .tag {
    margin-top: 10px;
  }

  .score {
    margin-top: 5px;
    font-weight: bold;
  }

  .winner,
  .loser {
    color: $white;
    border: 2px solid $white;
  }
  
  .winner {
    background-color: $success;
  }
  
  .loser {
    background-color: $failure;
  }

  .logoShadow {
    padding: 5px;
    filter: drop-shadow( 2px 2px 3px $white);
  }
}
