$extra-large-device: 1090px;
$large-device: 995px;
$medium-large-device: 845px;
$medium-device-extra: 600px;
$medium-device: 565px;
$medium-small-device: 500px;
$small-device: 400px;
$extra-small-device: 335px;
