$skeleton: #B1B1B1;
$brand: #4ECB71;
$failure: #E31E24;
$success: #4ECB71;
$white: #FFFFFF;
$pale: #D9D9D9;
$dark: #333;
$field: #6ABD67;
$clear: ghostwhite;
$gold: #FAE505;

$dark-shadow: rgba(0, 0, 0, 0.19);
